<!DOCTYPE html>
<html>
  <head>
    <title>Snippet with Slots</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--TailwindsCSS-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!--HTMX-->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
    <!--AlpineJS-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!--Alpine Mask Plugin-->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
    <!--Alpine Focus Plugin-->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <!--Alpine Collaps Plugin-->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

  </head>

  <body class="flex flex-col bg-zinc-700 h-screen">
    <header>
      {% include '/partial/_header.html' %}
    </header>
    
    <main class="flex min-h-[80vh] flex-col items-center justify-center gap-6 px-4 py-8">
      {% block content %}{% endblock %}
    </main>

    <footer class="text-center text-xs">
      {% include '/partial/_footer.html'%}
    </footer>

  </body>

</html>